Everyone has the right to life, liberty and the security of person.

Original:
Nynorsk: Alle har rett til liv, fridom og personleg tryggleik.
Faroese: Ein og hvør hevur rætt til lív, frælsi og persónliga trygd.
similar words: 7
same words: 2

Devowelled:
Nynorsk: ll hr rtt tl lv, frdm g prsnlg trgglk.
Faroese: n g hvr hvr rtt tl lv, frls g prsnlg trgd.
same words: 5
